mai.flex-center
    div
        p Гарячі пропозиції
        div.flex-center
            p Тур
            p Назва та дата
        div.flex-center
            p Тур
            p Назва та дата
        div.flex-center
            p Тур
            p Назва та дата
    div
        p Спеціальні пропозиції
        div.flex-center
            p Тур
            p Назва та дата
        div.flex-center
            p Тур
            p Назва та дата
        div.flex-center
            p Тур
            p Назва та дата
