footer.flex-center 
    div 
        p Залиште відгук
        div 
            p E-mail
        div 
            p Поле для відгуку
    div 
        p Наші контакти
        div 
            p Перелік контактів