header
    div.flex-between.header-top
        a(href="#") logo
        nav.navbar-menu 
            a(href="#") Меню
    div.flex-center.header-bottom
        p Фото відгуки клієнтів
        div 
            p Вибір подорожі
            div 
                p Дата
                p Місце
                p К-сть людей